<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.dao.AptitudeDictionaryMapper" >

    <select id="getMajorNameBymajorUuid" parameterType="String" resultType="String">
        SELECT `majorName`
        FROM aptitude_dictionary
        WHERE majorUuid = #{majorUuid}
        ORDER BY id DESC
        limit 1
    </select>

    <!--根据别名查询code-->
    <select id="queryCodeByAlias" parameterType="java.lang.String" resultType="java.lang.String">
        select
        t.`std_code`
        from
        biaodaa_admin.`dic_alias` t
        where t.`name` = #{name}
        limit 1
    </select>

    <!--根据等级别名查询等级code和标准名-->
    <select id="queryGradeByAlias" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT
          t1.`code`,
          t1.`name`
        FROM
          biaodaa_admin.dic_alias t
          JOIN biaodaa_admin.dic_common t1
            ON t.`std_code` = t1.`code`
        WHERE  t1.`type` = 'qua_grade'
        AND t.`name` = #{alias}
        AND t.`std_type` = 3
        LIMIT 1;
    </select>

    <!--查询资质等级主键id-->
    <select id="queryPkidByParam" parameterType="java.util.Map" resultType="java.lang.String">
        SELECT
        t.`id`
        FROM
        biaodaa_admin.`rel_qua_grade` t
        WHERE t.`grade_code` = #{grade}
        AND t.`qua_code` = #{qual}
    </select>

    <!--根据code查询名称-->
    <select id="queryQualNameByCode" parameterType="java.lang.String" resultType="java.lang.String">
        select
        t.`bench_name`
        from
        biaodaa_admin.`dic_qua` t
        where t.`qua_code` = #{qualCode}
        and t.`bench_name` is not null
    </select>

    <select id="getQulId" parameterType="String" resultType="String">
        select id from biaodaa_admin.`dic_qua_info` where name =#{name}
    </select>

    <!--根据等级别名查询等级code-->
    <select id="queryGradeCode" parameterType="java.lang.String" resultType="java.lang.String">
        select
        t.`std_code`
        from
        biaodaa_admin.`dic_alias` t
        where t.`name` = #{name}
        and t.`std_type` = 3
    </select>
</mapper>