<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.dao.CompanyMapper">

    <update id="updateCompanyRangeByComId" parameterType="com.silita.spider.common.model.Company">
        UPDATE tb_company
            SET `range` = #{range}
            WHERE `com_id` = #{com_id}
    </update>

    <!--删除安许证号-->
    <delete id="deleteSafetyCertificate" parameterType="java.lang.String">
        DELETE
        FROM
          `tb_safety_certificate`
        WHERE `com_name` = #{comName}
    </delete>

    <!--添加企业-->
    <insert id="insertCompany" parameterType="com.silita.model.TbCompany">
        INSERT INTO `tb_company` (
        `com_id`,
        `md5`,
        `com_name_py`,
        `com_name`,
        `credit_code`,
        `regis_address`,
        `legal_person`,
        `economic_type`,
        `skill_leader`,
        `regis_capital`,
        <if test="businessNum != null and businessNum != ''">
            `business_num`,
        </if>
        <if test="comAddress != null and comAddress != ''">
            `com_address`,
        </if>
        <if test="url != null and url != ''">
            `url`,
        </if>
        `created`,
        `channel`
        )
        VALUES
        (
        #{comId},
        #{md5},
        #{comNamePy},
        #{comName},
        #{creditCode},
        #{regisAddress},
        #{legalPerson},
        #{economicType},
        #{skillLeader},
        #{regisCapital},
        <if test="businessNum != null and businessNum != ''">
            #{businessNum},
        </if>
        <if test="comAddress != null and comAddress != ''">
            #{comAddress},
        </if>
        <if test="url != null and url != ''">
            #{url},
        </if>
        now(),
        #{channel}
        )
    </insert>

    <!--添加关联表数据-->
    <insert id="insertCompanyRel" parameterType="java.util.Map">
        insert into `tb_company_rel` (
        `com_id`,
        <if test="com_id_highway != null and com_id_highway != ''">
            `com_id_highway`,
        </if>
        <if test="com_id_shuili != null and com_id_shuili != ''">
            `com_id_shuili`,
        </if>
        `com_name`
        )
        values
        (
        #{com_id},
        <if test="com_id_highway != null and com_id_highway != ''">
            #{com_id_highway},
        </if>
        <if test="com_id_shuili != null and com_id_shuili != ''">
            #{com_id_shuili},
        </if>
        #{com_name}
        )
    </insert>

    <!--修改关联表数据-->
    <update id="updateCompanyRel" parameterType="java.util.Map">
        update
        `tb_company_rel`
        set
        <if test="com_id_highway != null and com_id_highway != ''">
            `com_id_highway` = #{com_id_highway},
        </if>
        <if test="com_id_shuili != null and com_id_shuili != ''">
            `com_id_shuili` = #{com_id_shuili},
        </if>
        updated = now()
        where `pkid` = #{pkid}
    </update>

    <!--添加企业安许证号-->
    <insert id="insertSafetyCertificate" parameterType="java.util.Map">
          insert into `tb_safety_certificate` (
          `com_name`,
          `cert_no`,
          `valid_date`,
          `created`
        )
        values
          (
            #{com_name},
            #{safeProdLicese},
            #{safeValidDate},
            now()
          )
    </insert>

    <!--企业是否存在-->
    <select id="queryCompanyExist" parameterType="java.lang.String" resultType="java.util.Map">
        select
          t1.com_id,
          t1.regis_address,
          t1.channel,
          t.`pkid`,
          t.`com_id_highway`,
          t.`com_id_shuili`
        from
          tb_company t1
        left join tb_company_rel t on t1.`com_id` = t.`com_id`
        where t1.com_name = #{comName}
        limit 1
    </select>

    <!--修改企业来源-->
    <update id="updateCompanyChannel" parameterType="java.util.Map">
        update tb_company set channel = #{channel},updated = now() where com_id = #{com_id}
    </update>

    <!--根据市查询省份-->
    <select id="queryProvinceCity" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT
          pro.`area_name`
        FROM
          biaodaa_admin.sys_area t
          JOIN biaodaa_admin.sys_area pro
            ON t.`area_parent_id` = pro.`pkid`
            AND pro.`area_level` = 1
        WHERE t.`area_name` LIKE CONCAT('%',#{city},'%')
          AND t.`area_level` = 2
        LIMIT 1
    </select>

    <!--根据企业名称查询id-->
    <select id="queryComIdForName" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT
          t.`com_id`
        FROM
          tb_company t
        WHERE t.`com_name` = #{comName}
        LIMIT 1
    </select>

</mapper>