<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.dao.CompanyQualificationMapper">

    <select id="getCompanyQualificationTotal" resultType="Integer">
        SELECT COUNT(*)
        FROM tb_company_qualification
    </select>

    <select id="listCompanyQualification" parameterType="Map"
            resultType="com.silita.spider.common.model.CompanyQualification">
        SELECT *
        FROM tb_company_qualification
        LIMIT #{start}, #{pageSize}
    </select>

    <select id="getCompanyQualificationByComId" parameterType="String"
            resultType="com.silita.spider.common.model.CompanyQualification">
         SELECT * FROM tb_company_qualification WHERE com_id = #{companyId} and is_valid = 1
    </select>

    <select id="getCompanyQualificationBySql" parameterType="Map"
            resultType="com.silita.spider.common.model.CompanyQualification">
         SELECT * FROM tb_company_qualification WHERE channel=3 and com_id is not null
    </select>

    <!--查询资质是否存在-->
    <select id="queryCompanyQualficationExist" parameterType="com.silita.model.TbCompanyQualification" resultType="java.lang.String">
        SELECT
          t.`pkid`
        FROM
          tb_company_qualification t
        WHERE t.`tab` = #{tab}
        AND t.`qual_type` = #{qualType}
        AND t.`cert_no` = #{certNo}
        AND t.`cert_org` = #{certOrg}
        AND t.`cert_date` = #{certDate}
        AND t.`valid_date` = #{validDate}
        AND t.`qual_name` = #{qualName}
        AND t.`com_id` = #{comId}
        AND t.`channel` = #{channel}
        AND t.`is_valid` = 1
        LIMIT 1
    </select>

    <!--根据证书和资质名查询是否存在-->
    <select id="queryCompanyQualficationCertNo" parameterType="com.silita.model.TbCompanyQualification" resultType="java.lang.String">
        SELECT
          t.`pkid`
        FROM
          tb_company_qualification t
        WHERE  t.`cert_no` = #{certNo}
        AND (t.`qual_name` = CONCAT('%',#{qualName},'%') OR t.range like CONCAT('%',#{qualName},'%'))
        AND t.`com_id` = #{comId}
        AND t.`is_valid` = 1
        LIMIT 1
    </select>

    <!--添加企业资质-->
    <insert id="inertCompanyQualfication" parameterType="com.silita.model.TbCompanyQualification">
        INSERT INTO `tb_company_qualification` (
          `pkid`,`tab`,`qual_type`,`cert_no`,`cert_org`,`cert_date`,`valid_date`,`qual_name`,`range`,`url`,
          `com_id`,`com_name`,`qual_id`,`created`,`channel`,`is_valid`
        )
        VALUES(#{pkid},#{tab},#{qualType},#{certNo},#{certOrg},#{certDate},#{validDate},#{qualName},#{range},#{url},
        #{comId},#{comName},#{qualId},now(),#{channel},'1')
    </insert>

    <!--修改企业资质更新时间-->
    <update id="updateCompanyQualfication" parameterType="java.lang.String">
        UPDATE tb_company_qualification SET updated = now() where pkid = #{pkid}
    </update>

    <!--查询企业下的资质-->
    <delete id="deleteCompanyQualfication" parameterType="java.util.Map">
        DELETE
        FROM
          `mishu`.`tb_company_qualification`
        WHERE `com_id` = #{comId}
        AND `channel` = #{channel}
    </delete>
</mapper>