<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.dao.SkyProjZbChongqMapper">

    <!--添加中标业绩-->
    <insert id="insertProjectZhongbiao" parameterType="com.silita.model.SkyProjZbChongq" keyProperty="pkid"
            useGeneratedKeys="true">
        INSERT INTO `sky_proj_zb_chongq` (
        <if test="pkid != null and pkid != ''">
            `pkid`,
        </if>
        <if test="projName != null and projName != ''">
            `proj_name`,
        </if>
        <if test="zhaobiaoCode != null and zhaobiaoCode != ''">
            `zhaobiao_code`,
        </if>
        <if test="zhaobiaoPerson != null and zhaobiaoPerson != ''">
            `zhaobiao_person`,
        </if>
        <if test="comId != null and comId != ''">
            `com_id`,
        </if>
        <if test="comName != null and comName != ''">
            `com_name`,
        </if>
        <if test="projManager != null and projManager != ''">
            `proj_manager`,
        </if>
        <if test="amount != null and amount != ''">
            `amount`,
        </if>
        <if test="days != null and days != ''">
            `days`,
        </if>
        <if test="floorNum != null and floorNum != ''">
            `floor_num`,
        </if>
        <if test="pubDate != null and pubDate != ''">
            `pub_date`,
        </if>
        <if test="scope != null and scope != ''">
            `scope`,
        </if>
        <if test="content != null and content != ''">
            `content`,
        </if>
        `created`
        )
        VALUES
        (
        <if test="pkid != null and pkid != ''">
            #{pkid},
        </if>
        <if test="projName != null and projName != ''">
            #{projName},
        </if>
        <if test="zhaobiaoCode != null and zhaobiaoCode != ''">
            #{zhaobiaoCode},
        </if>
        <if test="zhaobiaoPerson != null and zhaobiaoPerson != ''">
            #{zhaobiaoPerson},
        </if>
        <if test="comId != null and comId != ''">
            #{comId},
        </if>
        <if test="comName != null and comName != ''">
            #{comName},
        </if>
        <if test="projManager != null and projManager != ''">
            #{projManager},
        </if>
        <if test="amount != null and amount != ''">
            #{amount},
        </if>
        <if test="days != null and days != ''">
            #{days},
        </if>
        <if test="floorNum != null and floorNum != ''">
            #{floorNum},
        </if>
        <if test="pubDate != null and pubDate != ''">
            #{pubDate},
        </if>
        <if test="scope != null and scope != ''">
            #{scope},
        </if>
        <if test="content != null and content != ''">
            #{content},
        </if>
        now()
        ) ;
    </insert>

    <!--修改中标业绩-->
    <update id="updateProjectZhongbiao" parameterType="com.silita.model.SkyProjZbChongq">
         UPDATE
          `sky_proj_zb_chongq`
        SET
          `zhaobiao_code` = #{zhaobiaoCode},
          `zhaobiao_person` = #{zhaobiaoPerson},
          `proj_manager` = #{projManager},
          `amount` = #{amount},
          `days` = #{days},
          `floor_num` = #{floorNum},
          `pub_date` = #{pubDate},
          `scope` = #{scope},
          `content` = #{content},
          `url` = #{url},
          `updated` = now()
        WHERE `pkid` = #{pkid} ;
    </update>

    <!--查询中标是否存在-->
    <select id="queryProjectZhongbiao" parameterType="com.silita.model.SkyProjZbChongq" resultType="java.lang.String">
        SELECT
          t.`pkid`
        FROM
          `sky_proj_zb_chongq` t
        WHERE t.`proj_name` = #{projName}
          AND t.`com_id` = #{comId}
        LIMIT 1
    </select>
</mapper>