<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.dao.SkyProjZbChongqMapper">

    <!--添加中标业绩-->
    <insert id="insertProjectZhongbiao" parameterType="com.silita.model.SkyProjZbChongq">
        INSERT INTO `sky_proj_zb_chongq` (
        <if test="projName != null and projName != ''">
            `proj_name`,
        </if>
        <if test="zhaobiaoCode != null and zhaobiaoCode != ''">
            `zhaobiao_code`,
        </if>
        <if test="zhaobiaoPerson != null and zhaobiaoPerson != ''">
            `zhaobiao_person`,
        </if>
        <if test="comId != null and comId != ''">
            `com_id`,
        </if>
        <if test="comName != null and comName != ''">
            `com_name`,
        </if>
        <if test="projManager != null and projManager != ''">
            `proj_manager`,
        </if>
        <if test="amount != null and amount != ''">
            `amount`,
        </if>
        <if test="days != null and days != ''">
            `days`,
        </if>
        <if test="floorNum != null and floorNum != ''">
            `floor_num`,
        </if>
        <if test="pubDate != null and pubDate != ''">
            `pub_date`,
        </if>
        <if test="scope != null and scope != ''">
            `scope`,
        </if>
        <if test="content != null and content != ''">
            `content`,
        </if>
        `created`
        )
        VALUES
        (
        <if test="projName != null and projName != ''">
            #{projName},
        </if>
        <if test="zhaobiaoCode != null and zhaobiaoCode != ''">
            #{zhaobiaoCode},
        </if>
        <if test="zhaobiaoPerson != null and zhaobiaoPerson != ''">
            #{zhaobiaoPerson},
        </if>
        <if test="comId != null and comId != ''">
            #{comId},
        </if>
        <if test="comName != null and comName != ''">
            #{comName},
        </if>
        <if test="projManager != null and projManager != ''">
            #{projManager},
        </if>
        <if test="amount != null and amount != ''">
            #{amount},
        </if>
        <if test="days != null and days != ''">
            #{days},
        </if>
        <if test="floorNum != null and floorNum != ''">
            #{floorNum},
        </if>
        <if test="pubDate != null and pubDate != ''">
            #{pubDate},
        </if>
        <if test="scope != null and scope != ''">
            #{scope},
        </if>
        <if test="content != null and content != ''">
            #{content},
        </if>
        now()
        ) ;
    </insert>

    <!--删除企业的中标业绩-->
    <delete id="deleteProjectZhongbiao" parameterType="java.lang.String">
        DELETE
        FROM
          `sky_proj_zb_chongq`
        WHERE `com_id` = #{comId}
    </delete>
</mapper>