<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.dao.TbPersonMapper">

    <!--查询是否存在该人员证书-->
    <select id="queryPersonCertExist" parameterType="com.silita.model.TbPerson" resultType="java.lang.String">
        select pkid
        from tb_person_${tabCode}
        where `name` = #{name}
        and sex = #{sex}
        and category = #{category}
        and cert_no = #{certNo}
        <if test="validDate != null and validDate != ''">
            and valid_date = #{validDate}
        </if>
        and com_id =#{comId}
        and com_name =#{comName}
    </select>

    <!--修改更新时间-->
    <update id="updateDate" parameterType="com.silita.model.TbPerson">
      UPDATE tb_person_${tabCode} SET updated = now() WHERE pkid = #{pkid}
    </update>

    <!--添加人员证书-->
    <insert id="insertPerson" parameterType="com.silita.model.TbPerson">
        INSERT INTO `tb_person_${tabCode}` (
        `pkid`,
        `name`,
        `sex`,
        `id_card`,
        `category`,
        `cert_no`,
        `major`,
        `cert_date`,
        <if test="validDate != null and validDate != ''">
            `valid_date`,
        </if>
        `url`,
        `com_id`,
        `com_name`,
        `type`,
        `created`,
        `is_valid`
        )
        VALUES
        (
        #{pkid},
        #{name},
        #{sex},
        #{idCard},
        #{category},
        #{certNo},
        #{major},
        #{certDate},
        <if test="validDate != null and validDate != ''">
            #{validDate},
        </if>
        #{url},
        #{comId},
        #{comName},
        1,
        now(),
        1
        ) ;
    </insert>
</mapper>