<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.dao.TbProjectTrafficMapper" >

    <!--添加-->
    <insert id="insertProjectTraffic" parameterType="com.silita.model.TbProjectTraffic" useGeneratedKeys="true"
            keyProperty="pkid" keyColumn="pkid">
        INSERT INTO `tb_project_traffic` (
        <if test="comName != null and comName != ''">
            `com_name`,
        </if>
        <if test="proName != null and proName != ''">
            `pro_name`,
        </if>
        <if test="proType != null and proType != ''">
            `pro_type`,
        </if>
        <if test="section != null and section != ''">
            `section`,
        </if>
        <if test="proWhere != null and proWhere != ''">
            `pro_where`,
        </if>
        <if test="source != null and source != ''">
            `source`,
        </if>
        <if test="build != null and build != ''">
            `build`,
        </if>
        <if test="technicalGrade != null and technicalGrade != ''">
            `technical_grade`,
        </if>
        <if test="contractAmount != null and contractAmount != ''">
            `contract_amount`,
        </if>
        <if test="clearingAmount != null and clearingAmount != ''">
            `clearing_amount`,
        </if>
        <if test="begined != null and begined != ''">
            `begined`,
        </if>
        <if test="ended != null and ended != ''">
            `ended`,
        </if>
        <if test="stakeBegin != null and stakeBegin != ''">
            `stake_begin`,
        </if>
        <if test="stakeEnd != null and stakeEnd != ''">
            `stake_end`,
        </if>
        <if test="assess != null and assess != ''">
            `assess`,
        </if>
        <if test="remark != null and remark != ''">
            `remark`,
        </if>
        <if test="acreage != null">
            `acreage`,
        </if>
        `created`
        )
        VALUES
        (
        <if test="comName != null and comName != ''">
            #{comName},
        </if>
        <if test="proName != null and proName != ''">
            #{proName},
        </if>
        <if test="proType != null and proType != ''">
            #{proType},
        </if>
        <if test="section != null and section != ''">
            #{section},
        </if>
        <if test="proWhere != null and proWhere != ''">
            #{proWhere},
        </if>
        <if test="source != null and source != ''">
            #{source},
        </if>
        <if test="build != null and build != ''">
            #{build},
        </if>
        <if test="technicalGrade != null and technicalGrade != ''">
            #{technicalGrade},
        </if>
        <if test="contractAmount != null and contractAmount != ''">
            #{contractAmount},
        </if>
        <if test="clearingAmount != null and clearingAmount != ''">
            #{clearingAmount},
        </if>
        <if test="begined != null and begined != ''">
            #{begined},
        </if>
        <if test="ended != null and ended != ''">
            #{ended},
        </if>
        <if test="stakeBegin != null and stakeBegin != ''">
            #{stakeBegin},
        </if>
        <if test="stakeEnd != null and stakeEnd != ''">
            #{stakeEnd},
        </if>
        <if test="assess != null and assess != ''">
            #{assess},
        </if>
        <if test="remark != null and remark != ''">
            #{remark},
        </if>
        <if test="acreage != null">
            #{acreage},
        </if>
        now()
        )
    </insert>

    <!--修改-->
    <update id="updateProjectTraffic" parameterType="com.silita.model.TbProjectTraffic">
        UPDATE  `tb_project_traffic` SET
        <if test="section != null and section != ''">
            `section` = #{section},
        </if>
        <if test="proWhere != null and proWhere != ''">
            `pro_where` = #{proWhere},
        </if>
        <if test="source != null and source != ''">
            `source` = #{source},
        </if>
        <if test="build != null and build != ''">
            `build` = #{build},
        </if>
        <if test="technicalGrade != null and technicalGrade != ''">
            `technical_grade` = #{technicalGrade},
        </if>
        <if test="contractAmount != null and contractAmount != ''">
            `contract_amount` = #{contractAmount},
        </if>
        <if test="clearingAmount != null and clearingAmount != ''">
            `clearing_amount` = #{clearingAmount},
        </if>
        <if test="begined != null and begined != ''">
            `begined` = #{begined},
        </if>
        <if test="ended != null and ended != ''">
            `ended` = #{ended},
        </if>
        <if test="stakeBegin != null and stakeBegin != ''">
            `stake_begin` = #{stakeBegin},
        </if>
        <if test="stakeEnd != null and stakeEnd != ''">
            `stake_end` = #{stakeEnd},
        </if>
        <if test="assess != null and assess != ''">
            `assess` = #{assess},
        </if>
        <if test="remark != null and remark != ''">
            `remark` = #{remark},
        </if>
        <if test="acreage != null">
            `acreage` = #{acreage},
        </if>
        updated = now()
        where pkid = #{pkid}
    </update>

    <!--删除项目关联人员-->
    <delete id="deleteProjectPerson" parameterType="java.lang.Integer">
        DELETE FROM tb_traffic_person WHERE pro_id = #{proId}
    </delete>

    <!--添加项目人员-->
    <insert id="batchTrafficPerson" parameterType="java.util.List">
        INSERT INTO `tb_traffic_person` (
        `pro_id`,
        `name`,
        `post`,
        `begined`,
        `ended`,
        `created`
        )
        VALUES
        <foreach collection="list" item="list" separator=",">
            (#{list.proId},#{list.name},#{list.post},#{list.begined},#{list.ended},now())
        </foreach>
    </insert>

    <!--判断是否存在-->
    <select id="queryProjectExits" parameterType="com.silita.model.TbProjectTraffic" resultType="java.lang.Integer">
        SELECT t.`pkid`
        FROM tb_project_traffic t
        WHERE t.`com_name` = #{comName}
        AND t.`pro_name` = #{proName}
        <if test="proType != null and proType != ''">
            AND t.`pro_type` = #{proType}
        </if>
        <if test="section != null and section != ''">
            AND t.`section` = #{section}
        </if>
        limit 1
    </select>
</mapper>